.input_field {
  width: 200px;
  border: 1px black solid;
  margin-left: 20px;
}

.btn {
  width: 100px;
  height: 30px;
  background-color: rgb(154, 216, 135);
  color: black;
  margin-left: 10px;
}

#err {
  color: red;
}
