<div class="body_custom ">

  <div class="row svb">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="productID"
        id="productID" [(ngModel)]="productName">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchByName()">Search</button>
    </form>

    <!-- <button type="button" class="btn btn-sm btn-info m-1" (click)="sortByAmount()">Sắp xếp theo số lượng</button> -->

    <div class="row svb_right">
      <!-- <button type="button" class="btn btn-primary" routerLink="/addProduct">Thêm mới</button> -->

      <form class="form-inline row">

        <div class="form-group mx-sm-3 mb-1 row">
          <input type="text" class="form-control find" placeholder="Từ" name="startP" id="startP" [(ngModel)]="startP">
        </div>
        <div class="form-group mx-sm-3 mb-1">
          <input type="text" class="form-control find" placeholder="Đến" name="endP" id="endP" [(ngModel)]="endP">
        </div>
        <button type="button" class="btn btn-primary mb-2" (click)="serachByPrice()">Lọc theo giá</button>
      </form>

    </div>
  </div>

  <h1 class="text-center">Danh sách hàng hoá</h1>

  <table class="table table-sm" *ngIf="products.length >0">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Mã hàng hoá</th>
        <th scope="col">Tên hàng hoá</th>
        <th scope="col"><button type="button" class="btn btn-sm btn-info" (click)="sortByAmount()">Số lượng</button>
        </th>
        <th scope="col">Giá cả</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products| paginate: { itemsPerPage: 10, currentPage: p }, let i = index"
        routerLink="editProduct/{{item.productID}}">
        <td>{{i+1}}</td>
        <td>{{item.productID}}</td>
        <td>{{item.productName}}</td>
        <td>{{item.amount}}</td>
        <td>{{item.price}}</td>
      </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="p = $event" class="text-center" style="margin-top: 20px;"></pagination-controls>


</div>
