<div class="body_custom">
  <h1 style="margin-top: 50px; margin-bottom: 30px;" class="text-center">Nhập thông tin khách hàng</h1>
  <form class="container ">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Mã khách hàng</label>
      <div class="col-sm-10">
        <div type="tel" class="form-control" name="customerID" id="customerID" style="text-align: start;">
          {{customer.customerID}}</div>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Tên khách hàng</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" name="customerName" id="customerName"
          [(ngModel)]="customer.customerName" value="{{customer.customerName}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Địa chỉ</label>
      <div class="col-sm-10">
        <input class="form-control" name="address" id="address" [(ngModel)]="customer.address"
          value="{{customer.address}}">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Số điện thoại</label>
      <div class="col-sm-10">
        <input class="form-control" name="phoneNumber" id="phoneNumber" [(ngModel)]="customer.phoneNumber"
          value="{{customer.phoneNumber}}">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button class="btn btn-primary" (click)="editCustomer()">Sửa</button>
      </div>
      <div class="col-sm-10">
        <button class="btn btn-primary" (click)="deleteCusomer()">Xoá</button>
      </div>
    </div>
  </form>

</div>
